**Some additional operations in case of lists**

In [ ]:
a = [1, 2, 3, 4,6]
b = [11, 22, 33, 44]
c = [-1, -3, -5]

In [ ]:
m=list(map(lambda x,y,z: x+y+z ,a,b,c))

In [ ]:
m #c has only 3 elements and hence the output is having only 3 values

[11, 21, 31]

**Zip**

In [ ]:
n=list(zip(a,b))
print(n)

[(1, 11), (2, 22), (3, 33), (4, 44)]

**Modifying/Replacing a List using Functions**

In [ ]:
x=[1,2,3]

def modify_content(x):
 x[0]=2
 return x

print(x)
print(id(x))
print("-"*50)

y=modify_content(x)
print(y)
print(id(y))
print("-"*50)

print(modify_content(x))
print(id(modify_content(x)))
print("-"*50)

print(x)
print(id(x))

[1, 2, 3]
140501731903360
--------------------------------------------------
[2, 2, 3]
140501731903360
--------------------------------------------------
[2, 2, 3]
140501731903360
--------------------------------------------------
[2, 2, 3]
140501731903360

In [ ]:
x=[1,2,3]

def replace_content(x):
 x=[4,5,6]
 return x

print(x)
print(id(x))
print("-"*50)

s=replace_content(x)
print(s)
print(id(s))
print("-"*50)

print(replace_content(x))
print(id(replace_content(x)))
print("-"*50)

print(x)
print(id(x))

[1, 2, 3]
140501678608704
--------------------------------------------------
[4, 5, 6]
140501678610544
--------------------------------------------------
[4, 5, 6]
140501678609744
--------------------------------------------------
[1, 2, 3]
140501678608704

In [ ]:
s=[4,5,6]
print(s)
print(id(s))

[4, 5, 6]
140501678819040

In [ ]:
s=[9,8,7]
print(s)
print(id(s))

[9, 8, 7]
140501731775984

In [ ]:
s[0]=2
print(s)
print(id(s))

[2, 8, 7]
140501731775984

In [ ]:
s1=[4,5,6]
print(id(s1))
s1.append(9)
print(id(s1))

140501678623792
140501678623792

In [ ]:
s2=[4,5,6]
print(id(s2))
s2[0]=4
print(id(s2))

140501678742736
140501678742736

**Classes and Functions**

In [ ]:
class Student:
 pass

In [ ]:
shafiq=Student()

In [ ]:
shafiq

In [ ]:
type(shafiq)

__main__.Student

In [ ]:
shafiq.rollnumber=1

In [ ]:
print(shafiq.rollnumber)

1

In [ ]:
s=Student()

In [ ]:
s

In [ ]:
s.name="Rahul"

In [ ]:
print(s.name)

Rahul

In [ ]:
class Student:
 def __init__(self):
  print(self)
  self.name="shreyansh"

In [ ]:
m=Student()
print(m.name)

<__main__.Student object at 0x7fc918a79790>
shreyansh

In [ ]:
n=Student()
print(n.name)

<__main__.Student object at 0x7fc918a4b5d0>
shreyansh

In [ ]:
class Student:
  def __init__(self,new_name):
    self.name=new_name
  def __str__(self):
    return f"student name is {self.name} and his is a briliant student "

In [ ]:
s1=Student("mudit")
s2=Student("nikhil")
s3=Student("mohit")
print(s1)
print(s2)
print(s3)

student name is mudit and his is a briliant student
student name is nikhil and his is a briliant student
student name is mohit and his is a briliant student

In [ ]:
class Student:
  pass

In [ ]:
s1=Student()
s2=Student()
s3=Student()
s1.name="mudit"
s2.name="mudit"
s3.name="mudit"
print(s1)
print(s2)
print(s3)

<__main__.Student object at 0x7fc918ae2c10>
<__main__.Student object at 0x7fc918ae2e10>
<__main__.Student object at 0x7fc918ae2a10>

In [ ]:
class Student:
  def __init__(self,new_name,rollNo=1):
    self.name=new_name
    self.rollno=rollNo
  def __str__(self):
    return f"student name is {self.name} and his rollno is {self.rollno} "

In [ ]:
s1=Student("mudit")
s2=Student("nikhil")
s3=Student("mohit",12)
print(s1)
print(s2)
print(s3)

student name is mudit and his rollno is 1
student name is nikhil and his rollno is 1
student name is mohit and his rollno is 12

In [ ]:
class Student:
  def __init__(variable,new_name,rollNo=1):
    variable.name=new_name
    variable.rollno=rollNo
  def __str__(variable):
    return f"student name is {variable.name} and his rollno is {variable.rollno} "

In [ ]:
s1=Student("mudit")
s2=Student("nikhil")
s3=Student("mohit",12)
print(s1)
print(s2)
print(s3)

student name is mudit and his rollno is 1
student name is nikhil and his rollno is 1
student name is mohit and his rollno is 12

In [ ]:
class Vehicle:
  def __init__(thisVehicle, name, mileage, capacity):
    thisVehicle.name = name
    thisVehicle.mileage = mileage
    thisVehicle.capacity = capacity
  def __str__(thisVehicle):
    return 'Vehicle Name={} \nMileage={} \nCapacity={}'.format(thisVehicle.name, thisVehicle.mileage, thisVehicle.capacity)
truck = Vehicle("Truck", 25, 500)
print(truck)

Vehicle Name=Truck
Mileage=25
Capacity=500

In [ ]:
class Student:
  counter=100 # class variable
  def __init__(self,new_name):
    self.name=new_name
    Student.counter+=1
    self.rollNo=Student.counter
  def __str__(self):
    return f"student name is {self.name} and his rollno is {self.rollNo} "

In [ ]:
s1=Student("mudit")
s2=Student("nikhil")
s3=Student("mohit")
s4=Student("satya")
print(s1)
print(s2)
print(s3)
print(s4)

student name is mudit and his rollno is 101
student name is nikhil and his rollno is 102
student name is mohit and his rollno is 103
student name is satya and his rollno is 104

In [ ]:
print(Student.counter)

104

In [ ]:
print(s1.rollNo)

101

In [ ]:
Student.counter=1000

In [ ]:
print(Student.counter)

1000

In [ ]:
print(s1.counter)

1000

In [ ]:
s1.counter=10000

In [ ]:
print(s1.counter)

10000

In [ ]:
s5=Student("satya")
print(s5)

student name is satya and his rollno is 1001

In [ ]:
print(s2)

student name is nikhil and his rollno is 102

In [ ]:
print(s1.counter)

10000

In [ ]:
print(s2.counter)

1001

In [ ]:
class Vehicle:
  country = "India"
  def __init__(self, name, mileage):
    self.name = name
    self.mileage = mileage
  def __str__(self):
    return 'Vehicle Name={} \nMileage={}'.format(self.name, self.mileage)

v1 = Vehicle("minivan", 10)
print(v1.country)

v1.country = "USA"
print(Vehicle.country)
print(v1.country)

India
India
USA

In [ ]:
class Student:
  counter=0 # class variable
  def __init__(self,new_name):
    self.name=new_name
    Student.counter+=1
    self.rollNo=Student.counter
  def intro(self):
    print(f" Hello my name is {self.name}")
  def __str__(self):
    return f"student name is {self.name} and his rollno is {self.rollNo} "

In [ ]:
s1=Student("mudit")
s2=Student("nikhil")
s3=Student("mohit")
s4=Student("satya")
print(s1)
print(s2)
print(s3)
print(s4)
s2.intro()

student name is mudit and his rollno is 1
student name is nikhil and his rollno is 2
student name is mohit and his rollno is 3
student name is satya and his rollno is 4
 Hello my name is nikhil

Create a class called Account , which refers to a bank account

Create attributes that will be unique for each instance of Account

1. id ---> this has to be incremented and assigned automatically
2. bal ---> this will give balance amount for each account

bal needs to be assigned a value as soon as an account is created

As soon as account is created, it should have some opening balance

Create 2 instances of accounts, a1 and a2
a1 should have id = 1 and bal = 100
a2 should have id = next id and bal = 0

Create a string representation for each account
When we print an account, like print(a1)
It should print out:
Account {id} has Rs. {balance}.

In [ ]:
class Account:
  counter=0
  def __init__ (self,openingbal=0):
    Account.counter+=1
    self.id=Account.counter
    self.bal=openingbal
  def __str__(self):
    return f"Account {self.id} has Rs. {self.bal}."

In [ ]:
a1=Account(100)
a2=Account()
print(a1)
print(a2)

Account 1 has Rs. 100.
Account 2 has Rs. 0.

In [ ]:
class Account:
  counter=0
  def __init__ (self,openingbal=0):
    Account.counter+=1
    self.id=Account.counter
    self.bal=openingbal

  def deposit(self,amount):
    self.bal+=amount

  def __str__(self):
    return f"Account {self.id} has Rs. {self.bal}."

In [ ]:
a1=Account(100)
print(a1)
a1.deposit(100)
print(a1)

Account 1 has Rs. 100.
Account 1 has Rs. 200.

In [ ]:
class Account:
  counter=0
  def __init__ (self,openingbal=0):
    Account.counter+=1
    self.id=Account.counter
    self.bal=openingbal

  def deposit(self,amount):
    if amount>0: # condition for adding amount
      self.bal+=amount

  def withdraw(self,amount):
    if amount>0 and self.bal>=amount:
      self.bal -= amount

  def __str__(self):
    return f"Account {self.id} has Rs. {self.bal}."

In [ ]:
a2=Account(100)
print(a2)
a2.deposit(100)
print(a2)
a2.withdraw(50)
print(a2)

Account 1 has Rs. 100.
Account 1 has Rs. 200.
Account 1 has Rs. 150.

In [ ]:
a2=Account(0)
print(a2)
a2.withdraw(50)
print(a2)

Account 2 has Rs. 0.
Account 2 has Rs. 0.

In [ ]:
a2=Account(100)
print(a2)
a2.withdraw(150)
print(a2)

Account 3 has Rs. 100.
Account 3 has Rs. 100.

In [ ]:
class Account:
  counter=0
  def __init__ (self,openingbal=0):
    Account.counter+=1
    self.id=Account.counter
    self.bal=openingbal

  def deposit(self,amount):
    if amount>0: # condition for adding amount
      self.bal+=amount

  def withdraw(self,amount):
    if amount>0 and self.bal>=amount:
      self.bal -= amount

  def __str__(self):
    return f"Account {self.id} has Rs. {self.bal}."

In [ ]:
a1 = Account(100)
a2 = Account()
a1.deposit(50)
print(a1)
a1.withdraw(10)
print(a1)
print(a1)
print(a2)
print(a2)

Account 1 has Rs. 150.
Account 1 has Rs. 140.
Account 1 has Rs. 140.
Account 2 has Rs. 0.
Account 2 has Rs. 0.