#Lecture Notes

###Lists

**List Assignment and Memory Allocation - Deep Copy and Shallow Copy**

In [ ]:
a = [10, 20, 30]
b = a              # Shallow Copy
c = [10, 20, 30]   # Deep Copy
d = list(a)        # Deep Copy
e = a[:]           # Deep Copy

In [ ]:
print(a)
print(b)
print(c)
print(d)
print(e)

[10, 20, 30]
[10, 20, 30]
[10, 20, 30]
[10, 20, 30]
[10, 20, 30]

In [ ]:
print(a==b)
print(a==c)
print(a==d)
print(a==e) #compares values of variables

True
True
True
True

In [ ]:
print(id(a))
print(id(b))
print(id(c))
print(id(d))
print(id(e))

139764219869056
139764219869056
139764219994752
139764228697056
139764219994672

In [ ]:
print(a is b)
print(a is c)
print(a is d)
print(a is e) #compares memory address of variables

True
False
False
False

In [ ]:
a[0] = 11

In [ ]:
#Only b changes on changing a[0]. c, d and e do not change
print(a)
print(b)
print(c)
print(d)
print(e)

[11, 20, 30]
[11, 20, 30]
[10, 20, 30]
[10, 20, 30]
[10, 20, 30]

In [ ]:
f = a.copy() # creates a deep copy
print(a)
print(f)

[11, 20, 30]
[11, 20, 30]

In [ ]:
print(id(a))
print(id(f))

139764219869056
139764220006064

**filter condition in list comprehension**

In [ ]:
list1 = [90, 91, 92, 93, 94, 95]
result = [x for x in list1 if x > 91]
result

[92, 93, 94, 95]

**appending data in a list**

In [ ]:
result.append(96)
print(result)

[92, 93, 94, 95, 96]

**inserting data in a list at a specified position**

In [ ]:
result.insert(3, 98)
result

[92, 93, 94, 98, 95, 96]

**extending an exisiting list**

In [ ]:
add_result = [96, 97, 98, 99]
result.extend(add_result)
result

[92, 93, 94, 98, 95, 96, 96, 97, 98, 99]

**removing elements from a list**

list_name.pop(index)
list_name.pop(element/value)

In [ ]:
result.pop() #always and always removes the last element, unless index is specified
result

[92, 93, 94, 98, 95, 96, 96, 97, 98]

In [ ]:
result.pop(1) # will remove the element at index 1
result

[92, 94, 98, 95, 96, 97, 98]

In [ ]:
result.remove(96) # will remove the first occurence of 96 from result list
result

[92, 93, 94, 98, 95, 96, 97, 98]

In [ ]:
del result[0] #will delete the value at 0th index, delete is a keyword and not a method
result

[94, 98, 95, 96, 97, 98]

In [ ]:
del result[:3] #deletes first 3 values
result

[96, 97, 98]

In [ ]:
del result[:] #deletes entire list
result

[]

###Strings

In [ ]:
s = 'We are the Champions of the World'
s

'We are the Champions of the World'

In [ ]:
s[:3] # Slicing in strings

'We '

In [ ]:
s[::2] #all characters in steps of 2

'W r h hmin fteWrd'

In [ ]:
s[1:5:-1] #wrong indexing

''

In [ ]:
s[:] #accessing all elements of a list

'We are the Champions of the World'

In [ ]:
s[::-1] #reversing a string

'dlroW eht fo snoipmahC eht era eW'

**Changing Character in a string**

In [ ]:
s = 'Hellow World'
s[0] = 'Y' #Strings are immutable

TypeError: ignored

In [ ]:
id(s)

139764033302448

In [ ]:
s.replace('H','Y')

'Yellow World'

In [ ]:
id(s) # Replacing a character does not change the string location in memory because it is temporary change

139764033302448

In [ ]:
id(s)
id(s.replace('H','Y'))

139764032244976

In [ ]:
y = s
print(id(s))
print(id(y))

139764033302448
139764033302448

**Memory Allocation in case of strings**

In [ ]:
a = 'We are the Champions of the World'     # Here a is a large string
b = a
c = str(a)
d = a[:]
e = 'We are the Champions of the World'
f = 'We are the Champions' + ' ' +'of the World'

In [ ]:
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)

We are the Champions of the World
We are the Champions of the World
We are the Champions of the World
We are the Champions of the World
We are the Champions of the World
We are the Champions of the World

In [ ]:
print(a==b)
print(a==c)
print(a==d)
print(a==e)
print(a==f)

True
True
True
True
True

In [ ]:
print(a is b)
print(a is c)
print(a is d)
print(a is e)
print(a is f)

True
True
True
False
False

In [ ]:
print(id(a))
print(id(b))
print(id(c))
print(id(d))
print(id(e)) # Ideally the memory location should be same for a and e, but in case of large strings sometimes the values dont match
print(id(f)) # Ideally the memory location should be same for a and f, but in case of large strings sometimes the values dont match

139764032093424
139764032093424
139764032093424
139764032093424
139764032093040
139764032094096

In [ ]:
a = 'Hello'     # Here a is a large string
b = a
c = str(a)
d = a[:]
e = 'Hello'
f = 'He'+''+'llo'

In [ ]:
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)

Hello
Hello
Hello
Hello
Hello
Hello

In [ ]:
print(a==b)
print(a==c)
print(a==d)
print(a==e)
print(a==f)

True
True
True
True
True

In [ ]:
print(a is b)
print(a is c)
print(a is d)
print(a is e)
print(a is f)

True
True
True
True
True

In [ ]:
print(id(a))
print(id(b))
print(id(c))
print(id(d))
print(id(e))
print(id(f))

139764166374064
139764166374064
139764166374064
139764166374064
139764166374064
139764166374064

**Index Position in Python**

In [ ]:
s = 'Hello World'
s.index('o') # Always returns the 1st ocurrence of 'o' in s

4

In [ ]:
s.index('l',5) #returns 1st occurence of 'l' starting index 5

9

In [ ]:
s.index('L',5) #It will throw an error if substring is not found

ValueError: ignored

**Built-In methods in Strings**

In [ ]:
s.lower()

'hello world'

In [ ]:
s.upper()

'HELLO WORLD'

In [ ]:
s.title()

'Hello World'

In [ ]:
s.capitalize()

'Hello world'

In [ ]:
s.startswith('Hello')

True

In [ ]:
s.endswith('World')

True

In [ ]:
print(id(s))
print(id(s.upper()))
print(id(s.lower()))
print(id(s.capitalize()))
print(id(s.title()))

139764032317680
139764032315824
139764032316016
139764031588976
139764031865328

**Docstrings in Python**

In [ ]:
s1 = '''
Hello Everyone!!!
Welcome to Python Refresher Module
Let's Start!!!'''
print(s1)

Hello Everyone!!!
Welcome to Python Refresher Module
Let's Start!!!

**Formatting in String**

In [ ]:
len = 5
br = 6

area = len * br

print('The area of a rectangle with '+len+' and breadth '+br+'is '+area) #concatenation of str and is not possible

TypeError: ignored

In [ ]:
len = 5
br = 6

area = len * br

print('The area of a rectangle with '+str(len)+' and breadth '+str(br)+' is '+str(area))

The area of a rectangle with 5 and breadth 6 is 30

**f-strings**

In [ ]:
print(f'The area of the rectangle with length: {len} and breadth: {br} is {area}')

The area of the rectangle with length: 5 and breadth: 6 is 30

In [ ]:
print('The area of the rectangle with length: {} and breadth: {} is {}'.format(len, br, area))

The area of the rectangle with length: 5 and breadth: 6 is 30

In [ ]:
# we can specify position of variables in case of .format()

print('The area of the rectangle with length: {0} and breadth: {1} is {2}'.format(len, br, area))
print('The area of the rectangle with length: {1} and breadth: {0} is {2}'.format(len, br, area))

The area of the rectangle with length: 5 and breadth: 6 is 30
The area of the rectangle with length: 6 and breadth: 5 is 30

###Tuples

In [ ]:
tup = (1,2,3,4)
type(tup)

tuple

In [ ]:
tup1 = (1)
type(tup1) # a single value in round enclosed brackets is an integer.

int

In [ ]:
tup2 = (1,)
type(tup2) # a single value in round enclosed bracket separated by comma is a tuple.

tuple

In [ ]:
# comma separate values without any parenthesis/brackets is treated as tuple

def find_num():
  return 10, 20, 30

print(find_num())
type(find_num())

(10, 20, 30)

tuple

**Indexing in Tuple**

In [ ]:
tup2[0]

1

In [ ]:
# assignment in tuples is not possible as tuples are immutable

tup2[0] = 1

TypeError: ignored

**Concatenation in case of tuples**

In [ ]:
(1, 2) + (3, 4)

(1, 2, 3, 4)

In [ ]:
(1, 2)*3

(1, 2, 1, 2, 1, 2)

**converting list into tuple**

In [ ]:
tuple([1,2,3])

(1, 2, 3)

**Tuples vs Lists**

In [ ]:
# Memory Allocation

import sys
tup = (1,2,3,4)
lst = [1,2,3,4]
print(sys.getsizeof(tup))
print(sys.getsizeof(lst))

88
104

In [ ]:
# Execution Time

from timeit import timeit

times = 10000000
t1 = timeit("list ([1,2,3])", number = times)
print('Time to copy a list {0} times is {1}'.format(times, t1))
t2 = timeit("tuple ((1,2,3))", number = times)
print('Time to copy a tuple {0} times is {1}'.format(times, t2))

Time to copy a list 10000000 times is 2.3007820490001905
Time to copy a tuple 10000000 times is 0.9721254959995349

**Packing and Unpacking in Tuples**

In [ ]:
t1 = (100, 200, 300)
type(t1)

tuple

In [ ]:
t2 = t1
type(t2)

tuple

In [ ]:
a,b,c = t1 #Unpacking
print(a)
print(b)
print(c)

100
200
300

In [ ]:
def find_num():
  return 10, 20, 30 #packing and returning a tuple

print(find_num())

(10, 20, 30)

#Post Lecture Notes

###Scope

A scope (of a variable) tells the interpreter when a name (or variable) is accessible. In other words, the **scope defines when and where you can use your variables, functions, etc. When you try to use something that isn’t in your current scope, you will usually get a NameError**.

Python has three different types of scopes:
**Local scope**
**Global scope**
**Non-local scope** bold text (which was added in Python 3)
Let’s learn how each of these scopes work.

**Local Scope**

Local scope is the scope you will use the most in Python. All assignments are done in local scope by default. **When you create a variable in a code block, its “local” to that code block.** If you want something different, then you’ll need to set your variable to “global” or “nonlocal” (we will be looking at this later).

Let’s create a simple example that demonstrates local scope assignment.

In [ ]:
def my_func(a, b):
    i = 2 # `i` will be locally accesible to function my_func

x = 10
my_func(1, 2)
print(i) # lets try to access "i" out of its scope

NameError: ignored

The variable, i, is only defined inside the function (local to function my_func. When we try to access i out of its local scope, we will get a NameError. **Whenever you define a variable within a function, its scope lies ONLY within the function.** It is accessible from the point at which it is defined until the end of the function and exists for as long as the function is executing (Source). Which means its value cannot be changed or even accessed from outside the function.

**Global Scope**

This is perhaps the easiest scope to understand. **Whenever a variable is defined outside any function, it becomes a global variable, and its scope is anywhere within the program.** Which means it can be used by any function. Notice, we have declared another variable x in the program’s scope. Let’s try accessing x inside the function my_func. Ideally, it should be available inside the function too. Lets try.

In [ ]:
def my_func(a, b):
    print(x)

x = 10
my_func(1, 2)

10

**How does this work in background?**

It would first try look for variable x in the function’s local scope. If not found, it will look in the outer scope (here program’s scope)

Thus, print(x) prints 10 as x is “globally” available across the whole program.

**What if we try to change its value “inside” the function? Will it make the changes to outside too?**

In [ ]:
def my_func(a, b):
    x = 5
    print(x)

x = 10
my_func(1, 2)
print(x)

5
10

**But why are changes not reflected outside? Aren’t we changing the global variable x?**

NO, while executing x = 5, the interpreter sees that there is no variable x in its local scope, and creates one. **The x inside of my_fun has a local function scope and overrides the x variable outside of the function.** Thus, the print(x) statement inside the function prints 5, but changes are not reflected to the global variable x which has value 10.

**But what if I want to upddate the value x inside the function and make it visible outside too?**

We need a way to tell Python to use the globally defined variable instead of locally creating one. For this, we simply type the keyword ‘global’, followed by the variable name. Let’s attempt to use global to fix our code.

In [ ]:
def my_func(a, b):
    global x
    x = 5
    print(x)

x = 10
my_func(1, 2)
print(x)

5
5

**Will the changes be reflected in the outer function of a nested function?**

Lets try to work on an interesting example of a nested function

In [ ]:
def my_outer_func(a, b):
    x = 5
    print(x)
    def my_inner_func():
        x = 6
    my_inner_func()
    print(x)

x = 10
my_outer_func(1, 2)
print(x)

5
5
10

No, changes x=6 made in the inner function are not reflected in the outer function

**What if we want to changes made in inner function to reflect in the outer one?**

Lets try using global

In [ ]:
def my_outer_func(a, b):
    x = 5
    print(x)
    def my_inner_func():
        global x
        x = 6
    my_inner_func()
    print(x)

x = 10
my_outer_func(1, 2)
print(x)

5
5
6

Wait, this made changes to the “global” x. But didn’t make changes to the other x.

This demands need for having a keyword through which can access the variables one scope up.

This is where nonlocal keyword comes handy.

**Nonlocal scope**

Python 3 added a new keyword called nonlocal. The nonlocal keyword adds a scope override to the inner scope.

In [ ]:
def my_outer_func(a, b):
    x = 5
    print(x)
    def my_inner_func():
        nonlocal x
        x = 6
    my_inner_func()
    print(x)

x = 10
my_outer_func(1, 2)
print(x)

5
6
10

### Positional and Keyword Arguments

Functions are building blocks in Python. They take zero or more arguments and return a value.

**How can we create a function which can take variable number of arguments to functions?**

**Remember the print() function we saw in the very first lecture? **

In [ ]:
print(2)

print(2, 3)

print(2, 3, "Hello")

2
2 3
2 3 Hello

As you can see, this in-built print() allows us to pass multiple number of arguments to it. We did not need to specify how many arguments can print() function take. There can be situations where we might not know before-hand how many arguments we need to pass in our functions. Luckily, Python is pretty flexible in terms of how arguments are passed to a function. **We can pass a variable number of arguments to a function using special symbols.**

But before we discuss how can we do it, lets first revise different kinds of arguments we can pass to a function

There are 2 types of arguments we can pass to functions

**Non-Keyword (Positional) Arguments**

**Keyword Arguments**

**Now, What’s the difference between Positional Argument and Keyword Argument?**

Positional arguments are declared by a name only. Keyword arguments are declared by a name and a default value. When a function is called, values for positional arguments must be given. Otherwise, we will get an error. If we do not specify the value for a keyword argument, it takes the default value.

In [ ]:
def addition(a, b=2): #a is positional, b is keyword argument
   return a + b
print(addition(1))

3

In [ ]:
def addition(a, b): #a and b are positional arguments
   return a + b
print(addition(1))

TypeError: ignored

**Python provides Special Symbols for passing variable number of Positional and Keyword arguments:**

*args (for non-keyword arguments)

**kwargs (for keyword Arguments)

The *args and **kwargs make it easier and cleaner to handle arguments.

We use the “wildcard” or “*” notation in the *args and **kwargs represent variable arguments.

**Do you know?**

The important parts are "*" and "**".

You can use any word instead of args and kwargs. You could have also written *var and **vars.

But it is the common practice to use the words args and kwargs. Thus, there is no need for unnecessary adventures.

Let’s look at non-keyword and keyword arguments one by one now

### *args

Consider the following function that sums up two numbers:

In [ ]:
def addition(a, b):
   return a + b

print(addition(3,4))

7

This function sums up only two numbers.

What if we want a function that sums up three or four numbers?
We may not even want to put a constraint on the number of arguments that passes to the function. In such cases, we can use *args as parameter.

The special syntax *args in function definitions is used to pass a variable number of arguments to a function.
It is used to pass a non-key worded, variable-length argument list.

What *args allows you to do is take in more arguments than the number of formal arguments that you previously defined. So when writing the function definition, you do not need to know how many arguments will be passed to your function.

With *args, any number of extra arguments can be stacked on to your current formal parameters (including zero extra arguments).

In [ ]:
def addition(*args):
   result = 0
   for i in args:
      result += i
   return result

The parameters passed to the addition function are stored in a tuple. So, we can iterate over the args variable.

In [ ]:
print(addition())

print(addition(1,4))

print(addition(1,7,3))

0
5
11

It is possible to use the *args and named variables together.

The following function prints the passed arguments accordingly.

In [ ]:
def arg_printer(a, b, *args):
   print(f'a is {a}')
   print(f'b is {b}')
   print(f'args are {args}')

arg_printer(3, 4, 5, 8, 3)

a is 3
b is 4
args are (5, 8, 3)

### **kwargs

The **kwargs collect all the keyword arguments that are not explicitly defined. Thus, it does the same operation as *args but for keyword arguments.

The special syntax **kwargs in function definitions is used to pass a keyworded, variable-length argument list.
We use the name kwargs with the double star. The reason is because the double star allows us to pass through keyword arguments (and any number of them). As we saw earlier, a keyword argument is where you provide a name to the variable as you pass it into the function.

You can think of the kwargs as being a dictionary that maps each keyword to the value that we pass alongside it.
By default, **kwargs is an empty dictionary. Each undefined keyword argument is stored as a key-value pair in the **kwargs dictionary. That is why when we iterate over the kwargs there doesn’t seem to be any order in which they are printed out.

In [ ]:
def arg_printer(a, b, option=True, **kwargs):
   print(a, b)
   print(option)
   print(kwargs)

arg_printer(3, 4, param1=5, param2=6)

3 4
True
{'param1': 5, 'param2': 6}

Lets take an example which uses both *args and **kwargs

But *args must be put before **kwargs.

In [ ]:
def arg_printer(a, b, *args, option=True, **kwargs):
   print(a, b)
   print(args)
   print(option)
   print(kwargs)
arg_printer(1, 4, 6, 5, param1=5, param2=6)

1 4
(6, 5)
True
{'param1': 5, 'param2': 6}

### Packing and Unpacking with *args and ***kwargs

We can pack and unpack variables using *args and **kwargs

In [ ]:
def arg_printer(*args):
   print(args)

If we pass a list to the function above, it will stored in args tuple as one single element.

In [ ]:
lst = [1,4,5]
arg_printer(lst)

([1, 4, 5],)

However, if we put an asterisk before lst, the values in the list will be unpacked and stored in args tuple separately.

In [ ]:
lst = [1,4,5]
arg_printer(*lst)

(1, 4, 5)

We can pass multiple iterables to be unpacked together with single elements.

In [ ]:
lst = [1,4,5]
tpl = ('a','b',4)
arg_printer(*lst, *tpl, 5, 6)

(1, 4, 5, 'a', 'b', 4, 5, 6)

We can do the packing and unpacking with keyword arguments as well

In [ ]:
def arg_printer(**kwargs):
   print(kwargs)

But the iterable that is passed as keyword arguments must be a mapping such as a dictionary.

In [ ]:
dct = {'param1':5, 'param2':8}
arg_printer(**dct)

{'param1': 5, 'param2': 8}

If we also pass additional keyword arguments together with a dictionary, they will combined and stored in the kwargs dictionary.

In [ ]:
dct = {'param1':5, 'param2':8}
arg_printer(param3=9, **dct)

{'param3': 9, 'param1': 5, 'param2': 8}